{% extends "layout.html" %}

{% block content %}
<section class="content">
    <div class="profile">
      <figure class="profile-picture">
        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/526be5d04cc02b948b674c852fb8771ffe1575913c21fc28280bdace5e490946?apiKey=e45b0f70c98347c389ce2600147aa9f8&" alt="Profile picture of Ayush Kumar" class="profile-image" />
      </figure>
      <div class="profile-details">
        <div class="profile-background">
          <h2 class="profile-title">About Me</h2>
          <p class="profile-description">
            Hi! I'm Ayush Kumar, a passionate and dedicated computer science enthusiast with a Bachelor's degree in Computer Science and Engineering. With a strong academic background, I have consistently demonstrated my commitment to excellence and my ability to master complex technical concepts.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="skills">
    <h2 class="skills-title">Skills</h2>
    <div class="skills-row">
      <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/d4c58b8e92ed02805d7b48461a359ab061def74339e4178723015b9cc3732dca?apiKey=e45b0f70c98347c389ce2600147aa9f8&" alt="Skill 1" class="skill-image" />
      <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/193b1f837adfd73bae379f4bdf72f874cfd13a042e5d8a491c7b34b668361beb?apiKey=e45b0f70c98347c389ce2600147aa9f8&" alt="Skill 2" class="skill-image" />
      <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/28b5d31417173a4df44f8c401d581410e93af4d8294ff2815e75181b0d4a012f?apiKey=e45b0f70c98347c389ce2600147aa9f8&" alt="Skill 3" class="skill-image" />
      <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/4c5ce30b6a2e32f03aea37c280d3b7f140b69d0e02b58e41f7d7139d1fb68e9a?apiKey=e45b0f70c98347c389ce2600147aa9f8&" alt="Skill 4" class="skill-image" />
      <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/b2b68e7b73904444dd94ed2d8dfb91d150c987ea6fa7c15ce56b09cf96910ce8?apiKey=e45b0f70c98347c389ce2600147aa9f8&" alt="Skill 5" class="skill-image" />
      <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/ce3b55cc15348a43d168923b68e3d09fe6fac9e9173d1b0e572e3570399a3a14?apiKey=e45b0f70c98347c389ce2600147aa9f8&" alt="Skill 6" class="skill-image" />
      <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/eb0ee6a09c4daf7efa9c6c2b5e6b7897cfb95184671ccd1a4a5025fea4f70d10?apiKey=e45b0f70c98347c389ce2600147aa9f8&" alt="Skill 7" class="skill-image" />
    </div>
    <div class="skills-row">
      <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/c1c8e3dcc286d5c7cfcff14b7e0bdbf10722c2a50e57f5c8402ea68c782759ee?apiKey=e45b0f70c98347c389ce2600147aa9f8&" alt="Skill 8" class="skill-image" />
      <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/f9538f1e4e786a03e9ad949ba67e9100381d8e8dc80563b6b322aecfd9839e48?apiKey=e45b0f70c98347c389ce2600147aa9f8&" alt="Skill 9" class="skill-image" />
      <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/6d651ead26568a6f84667c5765eeae7b49554333ba4386e04ca7bb4ed6527777?apiKey=e45b0f70c98347c389ce2600147aa9f8&" alt="Skill 10" class="skill-image" />
      <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/d22f460447586667169e31b39b846d983adb88df26256a35dcb257897e8f52cc?apiKey=e45b0f70c98347c389ce2600147aa9f8&" alt="Skill 11" class="skill-image" />
      <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/3bd6a11fc437821cdb9e66b801ee1e7adafbee2658c1319446f856eaf9a6bc05?apiKey=e45b0f70c98347c389ce2600147aa9f8&" alt="Skill 12" class="skill-image" />
      <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/51bb3fd2ee686c9a07cddd02d0814d53b6aa4a78111d1773be60c7025d2e84a3?apiKey=e45b0f70c98347c389ce2600147aa9f8&" alt="Skill 13" class="skill-image" />
    </div>
  </section>
{% endblock %}