{% extends "layout.html" %}

{% block content %}
<section class="content">
    <div class="profile">
      <figure class="profile-picture">
        <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/526be5d04cc02b948b674c852fb8771ffe1575913c21fc28280bdace5e490946?apiKey=e45b0f70c98347c389ce2600147aa9f8&" alt="Profile picture of Ayush Kumar" class="profile-image" />
      </figure>
      <div class="profile-details">
        <div class="profile-background">
          <h2 class="profile-title">About Me</h2>
          <p class="profile-description">
            Hi! I'm Ayush Kumar, a passionate and dedicated computer science enthusiast with a Bachelor's degree in Computer Science and Engineering. With a strong academic background, I have consistently demonstrated my commitment to excellence and my ability to master complex technical concepts.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="skills">
    <h2 class="skills-title">Skills</h2>
    <div class="skills-row">
      <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/d4c58b8e92ed02805d7b48461a359ab061def74339e4178723015b9cc3732dca?apiKey=e45b0f70c98347c389ce2600147aa9f8&" alt="Skill 1" class="skill-image" />
      <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/193b1f837adfd73bae379f4bdf72f874cfd13a042e5d8a491c7b34b668361beb?apiKey=e45b0f70c98347c389ce2600147aa9f8&" alt="Skill 2" class="skill-image" />
      <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/28b5d31417173a4df44f8c401d581410e93af4d8294ff2815e75181b0d4a012f?apiKey=e45b0f70c98347c389ce2600147aa9f8&" alt="Skill 3" class="skill-image" />
      <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/4c5ce30b6a2e32f03aea37c280d3b7f140b69d0e02b58e41f7d7139d1fb68e9a?apiKey=e45b0f70c98347c389ce2600147aa9f8&" alt="Skill 4" class="skill-image" />
      <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/b2b68e7b73904444dd94ed2d8dfb91d150c987ea6fa7c15ce56b09cf96910ce8?apiKey=e45b0f70c98347c389ce2600147aa9f8&" alt="Skill 5" class="skill-image" />
      <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/ce3b55cc15348a43d168923b68e3d09fe6fac9e9173d1b0e572e3570399a3a14?apiKey=e45b0f70c98347c389ce2600147aa9f8&" alt="Skill 6" class="skill-image" />
      <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/eb0ee6a09c4daf7efa9c6c2b5e6b7897cfb95184671ccd1a4a5025fea4f70d10?apiKey=e45b0f70c98347c389ce2600147aa9f8&" alt="Skill 7" class="skill-image" />
    </div>
    <div class="skills-row">
      <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/c1c8e3dcc286d5c7cfcff14b7e0bdbf10722c2a50e57f5c8402ea68c782759ee?apiKey=e45b0f70c98347c389ce2600147aa9f8&" alt="Skill 8" class="skill-image" />
      <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/f9538f1e4e786a03e9ad949ba67e9100381d8e8dc80563b6b322aecfd9839e48?apiKey=e45b0f70c98347c389ce2600147aa9f8&" alt="Skill 9" class="skill-image" />
      <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/6d651ead26568a6f84667c5765eeae7b49554333ba4386e04ca7bb4ed6527777?apiKey=e45b0f70c98347c389ce2600147aa9f8&" alt="Skill 10" class="skill-image" />
      <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/d22f460447586667169e31b39b846d983adb88df26256a35dcb257897e8f52cc?apiKey=e45b0f70c98347c389ce2600147aa9f8&" alt="Skill 11" class="skill-image" />
      <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/3bd6a11fc437821cdb9e66b801ee1e7adafbee2658c1319446f856eaf9a6bc05?apiKey=e45b0f70c98347c389ce2600147aa9f8&" alt="Skill 12" class="skill-image" />
      <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/51bb3fd2ee686c9a07cddd02d0814d53b6aa4a78111d1773be60c7025d2e84a3?apiKey=e45b0f70c98347c389ce2600147aa9f8&" alt="Skill 13" class="skill-image" />
    </div>
  </section>
  <section class="certificates">
    <h2 class="certificates-title">Certifications</h2>
    <section class="certifications">
        <article class="certification-card">
        <img src="https://www.devsnest.in/favicon.png" alt="Certification Badge">
        <div class="certification-content">
            <h2 class="certification-title">Frontend Course</h2>
            <p class="certification-provider">By Devsnest</p>
            <div class="cta-button" style="margin-top: 10px;">
                <a href="https://devsnest.in/certificate/QLebr+lBGLA" target="_blank" class="explore">Explore</a>
                <img
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/6b87db31ae6786d6bfde8bb8f8f1064b25ec839130068a8fe25203d4569907b5?apiKey=e45b0f70c98347c389ce2600147aa9f8&"
                  alt=""
                  class="icon"
                />
            </div>
        </div>
        </article>
    
        <article class="certification-card">
        <img src="https://images.template.net/85873/free-linkedin-learning-logo-vector-m4xsp.jpg" alt="Certification Badge">
        <div class="certification-content">
            <h2 class="certification-title">SQL for Data Analysis</h2>
            <p class="certification-provider">By Linkedin Learning</p>
            <div class="cta-button" style="margin-top: 10px;">
                <a href="https://www.linkedin.com/learning/certificates/acb2bd7222e2aee7d6f127db0a3fb14bf633f95169034c40e2ca14e2912abafb?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_certifications_details%3BP3z%2FzsnjTCu%2FDqsS9gX24Q%3D%3D" target="_blank" class="explore">Explore</a>
                <img
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/6b87db31ae6786d6bfde8bb8f8f1064b25ec839130068a8fe25203d4569907b5?apiKey=e45b0f70c98347c389ce2600147aa9f8&"
                  alt=""
                  class="icon"
                />
            </div>
        </div>
        </article>
    
        <article class="certification-card">
        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/df20f7e1a870c81652989e41375e693ee77ad94e286ac8c2edfb069d80354138?apiKey=e45b0f70c98347c389ce2600147aa9f8&" alt="Certification Badge">
        <div class="certification-content">
            <h2 class="certification-title">Python - AI/ML</h2>
            <p class="certification-provider">By Kaggle</p>
            <div class="cta-button" style="margin-top: 10px;">
                <a href="https://drive.google.com/drive/folders/1HbnJ3ozhd0ZE2tst0V2nYQALkIbl6I5f" target="_blank" class="explore">Explore</a>
                <img
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/6b87db31ae6786d6bfde8bb8f8f1064b25ec839130068a8fe25203d4569907b5?apiKey=e45b0f70c98347c389ce2600147aa9f8&"
                  alt=""
                  class="icon"
                />
            </div>
        </div>
        </article>
    
        <article class="certification-card">
        <img src="https://www.simplilearn.com/logo.png" alt="Certification Badge">
        <div class="certification-content">
            <h2 class="certification-title">MS Power BI</h2>
            <p class="certification-provider">By Simplilearn</p>
            <div class="cta-button" style="margin-top: 10px;">
                <a href="https://www.simplilearn.com/skillup-certificate-landing?token=eyJjb3Vyc2VfaWQiOiIxNzIyIiwiY2VydGlmaWNhdGVfdXJsIjoiaHR0cHM6XC9cL2NlcnRpZmljYXRlcy5zaW1wbGljZG4ubmV0XC9zaGFyZVwvdGh1bWJfNDg3NzAyNV8xNzA4MDA5NzQzLnBuZyIsInVzZXJuYW1lIjoiQXl1c2ggS3VtYXIifQ%3D%3D&utm_source=shared-certificate&utm_medium=lms&utm_campaign=shared-certificate-promotion&referrer=https%3A%2F%2Flms.simplilearn.com%2Fcourses%2F4211%2FPower-BI-for-Beginners%2Fcertificate%2Fdownload-skillup&%24web_only=true&_branch_match_id=1233817411268178602&_branch_referrer=H4sIAAAAAAAAA8soKSkottLXL87MLcjJ1EssKNDLyczL1k%2FV94mI8PIOyU1N8UgCAOOa8pQlAAAA" target="_blank" class="explore">Explore</a>
                <img
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/6b87db31ae6786d6bfde8bb8f8f1064b25ec839130068a8fe25203d4569907b5?apiKey=e45b0f70c98347c389ce2600147aa9f8&"
                  alt=""
                  class="icon"
                />
            </div>
        </div>
        </article>
    </section>
  </section>
  


  <section class="achievements">
    <h2 class="achievement-title">Achievements and Awards</h2>
    <section class="awards">
          <article class="award-card">
            <div class="image-column">
              <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/c6584eb3e070760dc4aa2df30626da8850a63c74108761686a1a27d543b2929b?apiKey=e45b0f70c98347c389ce2600147aa9f8&" alt="Award trophy image" class="award-image" />
            </div>
            <div class="text-column">
              <p class="award-description">
                Received Baroda Achievers Award 2023 for Outstanding Performance in Academics Category at ITS Engineering College, Greater Noida.
              </p>
            </div>
          </article>
          <article class="award-card">
            <div class="image-column">
              <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/9e07a7a48b8ed2495dee0b6323abce5af5f42208e5d3d6dc418d24618e8cccf5?apiKey=e45b0f70c98347c389ce2600147aa9f8&" alt="Award trophy image" class="award-image" />
            </div>
            <div class="text-column">
              <p class="award-description">
                Secured 1st position in University exam at College level for the session 2020-21 (BTech CSE 1st year) at I.T.S Engineering College, Greater Noida

              </p>
            </div>
          </article>
      </section>
  </section>
{% endblock %}