<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Ayush Kumar</title>
  </head>
  <body>
    <div class="container">
      <header class="navbar">
        <a href="/home" class="navbar-logo"><h1 class="navbar-logo">Ayush Kumar</h1></a>
        <nav class="navbar-menu">
          <a class="navbar-menu-item" href="/project">Projects</a>
          <a class="navbar-menu-item" href="/contact">Contact</a>
          <a class="navbar-menu-item" href="/about">About</a>
          <a class="navbar-menu-item" href="/blog">Blog</a>
        </nav>
      </header>

      {% block content %} {%endblock %}

      <footer class="footer">
        <p class="footer-text">© 2024 Ayush Kumar | All Rights Reserved</p>
        <div class="footer-socials">
          <a href="https://www.linkedin.com/in/singhayush16" target="_blank" class="social-links"><img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/db9efe06396008b66bb928cd66b36f8a337a35ee3380ce4e85bd7ee610c9d40a?apiKey=e45b0f70c98347c389ce2600147aa9f8&"
            alt="Linkedin"
            class="social-icon-small"
          /></a>
          <a href="https://www.instagram.com/kumar_ayush_.16" target="_blank" class="social-links"><img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/b31b79c2363df5f72f1aa17f2a72fa5dfb46fa8478ac49e86daff2a23220481b?apiKey=e45b0f70c98347c389ce2600147aa9f8&"
            alt="Instagram"
            class="social-icon-small"
          /></a>
          <a href="https://www.github.com/ayush8587" target="_blank" class="social-links"><img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/312b795bdb25e03b7f7403d76b37b57a333f2cd0048c7309f8039c6ff3a2c558?apiKey=e45b0f70c98347c389ce2600147aa9f8&"
            alt="Github"
            class="social-icon-small"
          /></a>
          <a href="https://www.hackerrank.com/profile/Vampire_16" target="_blank" class="social-links"><img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/498462fcae2b0e20c207a35f3671ff2b8f78f1762cd803023eba8257b020c4a8?apiKey=e45b0f70c98347c389ce2600147aa9f8&"
            alt="HacerRank"
            class="social-icon-small"
          /></a>
          <a href="https://www.kaggle.com/singhayush16" target="_blank" class="social-links"><img
            loading="lazy"
            src="https://cdn.builder.io/api/v1/image/assets/TEMP/df20f7e1a870c81652989e41375e693ee77ad94e286ac8c2edfb069d80354138?apiKey=e45b0f70c98347c389ce2600147aa9f8&"
            alt="Kaggle"
            class="social-icon-large"
          /></a>
        </div>
      </footer>
    </div>
  </body>
</html>
