{% extends "layout.html" %}

{% block content %}
<section class="section">
    <div class="content">
      <div class="flex-wrapper">
        <div class="column-left">
          <div class="image-placeholder">
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/ffa20997adf19967bbcb2ef1b3a7ad28012d1d8ea2d4ae720bc17acbf7c9f19a?apiKey=e45b0f70c98347c389ce2600147aa9f8&" alt="Dummy">
          </div>
        </div>
        <div class="column-right">
          <article class="project-details">
            <h2 class="project-title">Flight Fare Predictor</h2>
            <ul class="project-description">
              <li>Developed a user-friendly web application that allows users to input their travel details and get predictions on the flight fares.</li>
              <li>The model provided accurate fare predictions, aiding users in making informed decisions when booking air travel.</li>
              <li>Successfully deployed the model on the server, enabling real-time fare predictions.</li>
            </ul>
            <div class="cta-button">
              <a href="https://flights-fare-predictor.onrender.com" target="_blank" class="explore">Explore</a>
              <img
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/6b87db31ae6786d6bfde8bb8f8f1064b25ec839130068a8fe25203d4569907b5?apiKey=e45b0f70c98347c389ce2600147aa9f8&"
                alt=""
                class="icon"
              />
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
</section>
<section class="section">
  <div class="content">
    <div class="flex-wrapper">
      <div class="column-left">
        <article class="project-details">
          <h2 class="project-title">
            Attendance Management System
            <span class="font-light"
              >using Face Recognition</span
            >
          </h2>
          <ul class="project-description">
            <li>Integrated Face Recognition technology using OpenCV and Numpy, ensuring accurate attendance tracking and enhancing security measures within the team of 2 people.</li>
            <li>Automated Excel sheet generation and updating, with columns for 'Name of the person', 'Unique ID of the person', and 'Date and Time of Attendance', providing a comprehensive record of attendance data.</li>
          </ul>
          <div class="cta-button">
            <a href="https://github.com/ayush8587/Attendance-Management-System-based-on-Face-Recognition" target="_blank" class="explore">Explore</a>
            <img
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/fc48224905aeecddbcaf9617c03c84349f57499958997fd9263fbf95fd311e17?apiKey=e45b0f70c98347c389ce2600147aa9f8&"
              alt=""
              class="icon"
            />
          </div>
        </article>
      </div>
      <div class="column-right">
        <div class="image-placeholder">
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/cb20e1bc62535666c32fe95321c5e24d97e50bb14d48e57b0ba5f4810768f698?apiKey=e45b0f70c98347c389ce2600147aa9f8&" alt="Dummy">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="content">
    <div class="flex-wrapper">
      <div class="column-left">
        <div class="image-placeholder">
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/8df57054011167ed322420d71988c04c280a5ecc78181e3ec4e5a12808297456?apiKey=e45b0f70c98347c389ce2600147aa9f8&" alt="Dummy">
        </div>
      </div>
      <div class="column-right">
        <article class="project-details">
          <h2 class="project-title">
            OpenD -
            <span class="font-light">NFT Marketplace</span>
          </h2>
          <ul class="project-description">
            <li>Developed NFT Marketplace using Motoko for backend and React.js for frontend, enabling buying, minting, and selling of NFTs.</li>
            <li>Integrated custom cryptocurrency, DANG Coin, for seamless transactions within the platform.</li>
            <li>Ensured scalability, performance, and security measures for optimal user experience and data protection.</li>
          </ul>
          <div class="cta-button">
            <a href="https://github.com/ayush8587/OPEND" target="_blank" class="explore">Explore</a>
            <img
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/6b87db31ae6786d6bfde8bb8f8f1064b25ec839130068a8fe25203d4569907b5?apiKey=e45b0f70c98347c389ce2600147aa9f8&"
              alt=""
              class="icon"
            />
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="content">
    <div class="flex-wrapper">
      <div class="column-left">
        <article class="project-details">
          <h2 class="project-title">
            Hand Written
            <span class="font-light">Digit</span><br />
            <span class="font-light">Recognizer</span>
          </h2>
          <ul class="project-description">
            <li> I employed the MNIST dataset sourced from Kaggle to train a Machine Learning model utilizing the RandomForestClassifier algorithm, aiming to achieve the highest possible Accuracy, Precision, and Recall scores.</li>
            <li>Attained a remarkable accuracy rate of 94% during the evaluation phase.</li>
            <li>I sought to gain a deeper understanding of the Principal Component Analysis (PCA) technique and successfully applied it for feature engineering in the project.</li>
          </ul>
          <div class="cta-button">
            <a href="https://github.com/ayush8587/Hand_written_Digit_prediction" target="_blank" class="explore">Explore</a>
            <img
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/fc48224905aeecddbcaf9617c03c84349f57499958997fd9263fbf95fd311e17?apiKey=e45b0f70c98347c389ce2600147aa9f8&"
              alt=""
              class="icon"
            />
          </div>
        </article>
      </div>
      <div class="column-right">
        <div class="image-placeholder">
            <img src="https://andlukyane.com/images/drawn_digits_prediction/2022-12-19_18-26-13.jpg" alt="Dummy">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <div class="view-more">
  <div class="view-more-wrapper">
    <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/3557f790fa7ed0a47a4a3caa41aa6eaa3d4e3b4bf280b5f1eb72c0c754bd01b1?apiKey=e45b0f70c98347c389ce2600147aa9f8&" alt="" class="view-more-icon" />
    <button class="view-more-text" onclick="more()">View More</button>
  </div>
</div> -->
<section class="section more">
  <div class="content">
    <div class="flex-wrapper">
      <div class="column-left">
        <div class="image-placeholder">
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/8df57054011167ed322420d71988c04c280a5ecc78181e3ec4e5a12808297456?apiKey=e45b0f70c98347c389ce2600147aa9f8&" alt="Dummy">
        </div>
      </div>
      <div class="column-right">
        <article class="project-details">
          <h2 class="project-title">
            Ride Fare Estimator
            <span class="font-light"></span>
          </h2>
          <ul class="project-description"><li>Developed a Flask application that leverages a Linear Regression model to estimate ride fares, achieving an impressive accuracy rate of 92%.</li>
          <li>Key parameters considered in the analysis include distance, pick-up and drop-off locations, cab type, and product ID.</li>
          <li>Created a web application using a technology stack consisting of Flask, HTML, CSS and Python. Integrated Scikit-learn and Pandas to facilitate the training of Linear Regression model within the website.</li>
          </ul>
          <div class="cta-button">
            <a href="https://github.com/ayush8587/OPEND" target="_blank" class="explore">Explore</a>
            <img
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/6b87db31ae6786d6bfde8bb8f8f1064b25ec839130068a8fe25203d4569907b5?apiKey=e45b0f70c98347c389ce2600147aa9f8&"
              alt=""
              class="icon"
            />
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
<section class="section more">
  <div class="content">
    <div class="flex-wrapper">
      <div class="column-left">
        <article class="project-details">
          <h2 class="project-title">
            T20 World Cup Cricket data analytics
          </h2>
          <ul class="project-description">
<li>Created a Power BI report to identify the top 11 players for a T20 cricket team by scraping data from ESPN Cricinfo with a Brightdata website tool, cleaning and transforming the data with pandas, and evaluating various player performance metrics.</li>
<li>Used the resulting Power BI dashboard to select players for various categories (openers, middle order/anchors, finishers, all-rounders, specialist fast bowlers) and ultimately choose the top 11 players to play in the match. Selected teams using the Power BI dashboard have 90% of chances to win the game.</li>
          </ul>
          <div class="cta-button">
            <a href="https://github.com/ayush8587/Hand_written_Digit_prediction" target="_blank" class="explore">Explore</a>
            <img
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/fc48224905aeecddbcaf9617c03c84349f57499958997fd9263fbf95fd311e17?apiKey=e45b0f70c98347c389ce2600147aa9f8&"
              alt=""
              class="icon"
            />
          </div>
        </article>
      </div>
      <div class="column-right">
        <div class="image-placeholder">
            <img src="https://andlukyane.com/images/drawn_digits_prediction/2022-12-19_18-26-13.jpg" alt="Dummy">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section more">
  <div class="content">
    <div class="flex-wrapper">
      <div class="column-left">
        <div class="image-placeholder">
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/8df57054011167ed322420d71988c04c280a5ecc78181e3ec4e5a12808297456?apiKey=e45b0f70c98347c389ce2600147aa9f8&" alt="Dummy">
        </div>
      </div>
      <div class="column-right">
        <article class="project-details">
          <h2 class="project-title">
            Image Generation Bot using Flowise and Streamlit
          </h2>
          <ul class="project-description">
            <li>Developed an Image Generation Bot using Flowise, a no-code/low-code platform, integrated with a Streamlit interface.</li>
            <li>Facilitated easy generation of images with minimal coding effort, enhancing accessibility for non-technical users.</li>
            <li>Demonstrated proficiency in no-code/low-code development paradigms and API integration for streamlined user experience.</li>
          </ul>
          <div class="cta-button">
            <a href="https://github.com/ayush8587/OPEND" target="_blank" class="explore">Explore</a>
            <img
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/6b87db31ae6786d6bfde8bb8f8f1064b25ec839130068a8fe25203d4569907b5?apiKey=e45b0f70c98347c389ce2600147aa9f8&"
              alt=""
              class="icon"
            />
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
<section class="section more">
  <div class="content">
    <div class="flex-wrapper">
      <div class="column-left">
        <article class="project-details">
          <h2 class="project-title">
            Customer Segmentation using K-Means Clustering
          </h2>
          <ul class="project-description">
            <li>Analyzed 200 customer records (4 features) using K-means clustering to segment retail customers based on spending behavior.</li>
            <li>Employed data preprocessing and elbow method selection to determine optimal cluster number 5.</li>
            <li>Insights from this project improved marketing ROI by enabling focused campaigns toward high-value segments (spending score > 60).</li>
          </ul>
          <div class="cta-button">
            <a href="https://github.com/ayush8587/Hand_written_Digit_prediction" target="_blank" class="explore">Explore</a>
            <img
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/fc48224905aeecddbcaf9617c03c84349f57499958997fd9263fbf95fd311e17?apiKey=e45b0f70c98347c389ce2600147aa9f8&"
              alt=""
              class="icon"
            />
          </div>
        </article>
      </div>
      <div class="column-right">
        <div class="image-placeholder">
            <img src="https://andlukyane.com/images/drawn_digits_prediction/2022-12-19_18-26-13.jpg" alt="Dummy">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section more">
  <div class="content">
    <div class="flex-wrapper">
      <div class="column-left">
        <div class="image-placeholder">
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/8df57054011167ed322420d71988c04c280a5ecc78181e3ec4e5a12808297456?apiKey=e45b0f70c98347c389ce2600147aa9f8&" alt="Dummy">
        </div>
      </div>
      <div class="column-right">
        <article class="project-details">
          <h2 class="project-title">
            Phishing Detector
          </h2>
          <ul class="project-description">
            <li>Engineered a robust ride fare estimator, achieving an outstanding 92% accuracy, utilizing insights from a Kaggle dataset.</li>
            <li>Spearheaded the development of a machine learning algorithm, leading to a 25% decrease in fare disputes.</li>
            <li>Demonstrated proficiency in Python, Scikit-learn, and Pandas, showcasing diverse technical expertise.</li>
          </ul>
          <div class="cta-button">
            <a href="https://github.com/ayush8587/OPEND" target="_blank" class="explore">Explore</a>
            <img
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/6b87db31ae6786d6bfde8bb8f8f1064b25ec839130068a8fe25203d4569907b5?apiKey=e45b0f70c98347c389ce2600147aa9f8&"
              alt=""
              class="icon"
            />
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
<section class="section more">
  <div class="content">
    <div class="flex-wrapper">
      <div class="column-left">
        <article class="project-details">
          <h2 class="project-title">
            Financial Data Analytics
          </h2>
          <ul class="project-description">
            <li>Leveraged Power BI to analyze 4,000+ customer records across 5 cities, uncovering actionable spending patterns and predicting credit card adoption potential.</li>
            <li>Identified high-value customer demographics and tailored credit card features for maximized acquisition and usage.</li>
            <li>Communicated data-driven insights via interactive Power BI dashboards and presentations to both simulated and online audiences, generating 256 views and 956 impressions, and effectively influencing strategic decisionmaking in the financial services sector.</li>
          </ul>
          <div class="cta-button">
            <a href="https://github.com/ayush8587/Hand_written_Digit_prediction" target="_blank" class="explore">Explore</a>
            <img
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/fc48224905aeecddbcaf9617c03c84349f57499958997fd9263fbf95fd311e17?apiKey=e45b0f70c98347c389ce2600147aa9f8&"
              alt=""
              class="icon"
            />
          </div>
        </article>
      </div>
      <div class="column-right">
        <div class="image-placeholder">
            <img src="https://andlukyane.com/images/drawn_digits_prediction/2022-12-19_18-26-13.jpg" alt="Dummy">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section more">
  <div class="content">
    <div class="flex-wrapper">
      <div class="column-left">
        <div class="image-placeholder">
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/8df57054011167ed322420d71988c04c280a5ecc78181e3ec4e5a12808297456?apiKey=e45b0f70c98347c389ce2600147aa9f8&" alt="Dummy">
        </div>
      </div>
      <div class="column-right">
        <article class="project-details">
          <h2 class="project-title">
            Revenue Insights in Hospitality Domain
          </h2>
          <ul class="project-description">
            <li>Analyzed market share and revenue decline at AtliQ Grands.</li>
            <li>Designed a comprehensive Power BI dashboard utilizing three months of data, identifying key factors contributing to the loss and enabling data-driven decision making for strategic improvements.</li>
            <li>The developed dashboard helped the Revenue team gain insights about their revenue trend. This could help regain their revenue and market share by 20% in the next month.</li>
          </ul>
          <div class="cta-button">
            <a href="https://github.com/ayush8587/OPEND" target="_blank" class="explore">Explore</a>
            <img
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/6b87db31ae6786d6bfde8bb8f8f1064b25ec839130068a8fe25203d4569907b5?apiKey=e45b0f70c98347c389ce2600147aa9f8&"
              alt=""
              class="icon"
            />
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
<section class="section more">
  <div class="content">
    <div class="flex-wrapper">
      <div class="column-left">
        <article class="project-details">
          <h2 class="project-title">
            HR Data Analytics
          </h2>
          <ul class="project-description">
            <li>Designed a Power BI dashboard to track employee data for the HR team, including working hours, attendance, performance, and leaves. This dashboard streamlined HR processes and increased efficiency.</li>
            <li>Estimated to save 3-4 hours of work for the HR team daily.</li>
          </ul>
          <div class="cta-button">
            <a href="https://github.com/ayush8587/Hand_written_Digit_prediction" target="_blank" class="explore">Explore</a>
            <img
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/fc48224905aeecddbcaf9617c03c84349f57499958997fd9263fbf95fd311e17?apiKey=e45b0f70c98347c389ce2600147aa9f8&"
              alt=""
              class="icon"
            />
          </div>
        </article>
      </div>
      <div class="column-right">
        <div class="image-placeholder">
            <img src="https://andlukyane.com/images/drawn_digits_prediction/2022-12-19_18-26-13.jpg" alt="Dummy">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section more">
  <div class="content">
    <div class="flex-wrapper">
      <div class="column-left">
        <div class="image-placeholder">
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/8df57054011167ed322420d71988c04c280a5ecc78181e3ec4e5a12808297456?apiKey=e45b0f70c98347c389ce2600147aa9f8&" alt="Dummy">
        </div>
      </div>
      <div class="column-right">
        <article class="project-details">
          <h2 class="project-title">
            Geographical Weather Determination - Web App
          </h2>
          <ul class="project-description">
            <li>Developed a responsive website using HTML5, Tailwind CSS, and JavaScript to provide real-time geographical weather updates.</li>
            <li>Demonstrated proficiency in front-end technologies, responsive design, and practical application of web development principles.</li>
            <li>Integrated an online API to dynamically fetch and display accurate weather data.</li>
          </ul>
          <div class="cta-button">
            <a href="https://github.com/ayush8587/OPEND" target="_blank" class="explore">Explore</a>
            <img
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/6b87db31ae6786d6bfde8bb8f8f1064b25ec839130068a8fe25203d4569907b5?apiKey=e45b0f70c98347c389ce2600147aa9f8&"
              alt=""
              class="icon"
            />
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
<section class="section more">
  <div class="content">
    <div class="flex-wrapper">
      <div class="column-left">
        <article class="project-details">
          <h2 class="project-title">
            Blog Posting Website: A CRUD Application using Restful APIs
          </h2>
          <ul class="project-description">
            <li>Engineered a blog posting platform from scratch, equipped with features to add, delete, and edit blog posts using RESTful APIs.</li>
            <li>Incorporated Express.js for routing and middleware, which facilitated the seamless execution of CRUD operations.</li>
            <li>Developed a user-friendly frontend using HTML, CSS, and JavaScript, creating an intuitive interface that allowed users to easily navigate the platform and execute CRUD operations.</li>
          </ul>
          <div class="cta-button">
            <a href="https://github.com/ayush8587/Hand_written_Digit_prediction" target="_blank" class="explore">Explore</a>
            <img
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/fc48224905aeecddbcaf9617c03c84349f57499958997fd9263fbf95fd311e17?apiKey=e45b0f70c98347c389ce2600147aa9f8&"
              alt=""
              class="icon"
            />
          </div>
        </article>
      </div>
      <div class="column-right">
        <div class="image-placeholder">
            <img src="https://andlukyane.com/images/drawn_digits_prediction/2022-12-19_18-26-13.jpg" alt="Dummy">
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}